bin/* filter=lfs diff=lfs merge=lfs -text
bin/v1.2.4 filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7 filter=lfs diff=lfs merge=lfs -text
bin/v1.2.4/hyperkube filter=lfs diff=lfs merge=lfs -text
bin/v1.2.4/kube-apiserver filter=lfs diff=lfs merge=lfs -text
bin/v1.2.4/kube-controller-manager filter=lfs diff=lfs merge=lfs -text
bin/v1.2.4/kube-proxy filter=lfs diff=lfs merge=lfs -text
bin/v1.2.4/kube-scheduler filter=lfs diff=lfs merge=lfs -text
bin/v1.2.4/kubectl filter=lfs diff=lfs merge=lfs -text
bin/v1.2.4/kubelet filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/federation-apiserver filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/federation-controller-manager filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/hyperkube filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/kube-apiserver filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/kube-controller-manager filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/kube-dns filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/kube-proxy filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/kube-scheduler filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/kubectl filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/kubelet filter=lfs diff=lfs merge=lfs -text
bin/v1.3.7/kubemark filter=lfs diff=lfs merge=lfs -text
